<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: sans-serif;
      ;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
      grid-template-rows: 150px 200px 150px;
      grid-gap: 8px;
    }

    .tile {
      background-color: #ccc;
      border: 1px dashed #666;
      padding: 20px;
    }

    .nw {
      grid-column: 2 / span 2;
    }

    .ne {
      grid-column: 4 / span 2;
    }

    .w {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    .self {
      background-color: #efefef;
      grid-column: 3 / span 2;
      grid-row: 2;
    }

    .e {
      grid-column: 5 / span 2;
      grid-row: 2;
    }

    .sw {

      grid-column: 2 / span 2;
      grid-row: 3;
    }

    .se {

      grid-column: 4 / span 2;
      grid-row: 3;
    }

    .connected {
      background-color: #229922;
    }
  </style>
</head>

<body>
  <div id="app">
    <tile-connections ref="tc" @connection="onConnection" @ontileid="onTileId" @onmessage="handleMessage">
    </tile-connections>
    <div class="grid">
      <div class="tile nw" :class="{connected:connectedNW}">
        <div v-if="!connectedNW">
          <input id="nw-peerid" type="text"><button
            @click="connect(document.querySelector('#nw-peerid').value, 'nw')">connect</button>
        </div>
        <div v-else>
          <input id="nw-message" type="text"><button
            @click="send('nw', document.querySelector('#nw-message').value)">send message</button>
        </div>
      </div>
      <div class="tile ne" :class="{connected:connectedNE}">
        <div v-if="!connectedNE">
          <input id="ne-peerid" type="text"><button
            @click="connect(document.querySelector('#ne-peerid').value, 'ne')">connect</button>
        </div>
        <div v-else>
          <input id="ne-message" type="text"><button
            @click="send('ne', document.querySelector('#ne-message').value)">send message</button>
        </div>
      </div>
      <div class=" tile w" :class="{connected:connectedW}">
        <div v-if="!connectedW">
          <input id="w-peerid" type="text"><button
            @click="connect(document.querySelector('#w-peerid').value, 'w')">connect</button>
        </div>
        <div v-else>
          <input id="w-message" type="text"><button @click="send('w', document.querySelector('#w-message').value)">send
            message</button>
        </div>
      </div>
      <div class="tile self">
        <h3>My ID: {{tileId}}</h3>
        <h4>{{lastMessage}}</h4>
      </div>
      <div class="tile e" :class="{connected:connectedE}">
        <div v-if="!connectedE">
          <input id="e-peerid" type="text"><button
            @click="connect(document.querySelector('#e-peerid').value, 'e')">connect</button>
        </div>
        <div v-else>
          <input id="e-message" type="text"><button @click="send('e', document.querySelector('#e-message').value)">send
            message</button>
        </div>
      </div>
      <div class="tile sw" :class="{connected:connectedSW}">
        <div v-if="!connectedSW">
          <input id="sw-peerid" type="text">
          <button @click="connect(document.querySelector('#sw-peerid').value, 'sw')">connect</button>
        </div>
        <div v-else>
          <input id="sw-message" type="text"><button
            @click="send('sw', document.querySelector('#sw-message').value)">send
            message</button>
        </div>
      </div>
      <div class="tile se" :class="{connected:connectedSE}">
        <div v-if="!connectedSE">
          <input id="se-peerid" type="text"><button
            @click="connect(document.querySelector('#se-peerid').value, 'se')">connect</button>
        </div>
        <div v-else>
          <input id="se-message" type="text"><button
            @click="send('se', document.querySelector('#se-message').value)">send
            message</button>
        </div>
      </div>
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

  <script type="module">

    import { TileConnections } from "./TileConnector.js";

    const app = new Vue({
      el: "#app",
      components: {
        TileConnections
      },
      data: {
        activeConnections: [],
        directions: ["nw", "ne", "w", "self", "e", "sw", "se"],
        tileId: undefined,
        lastMessage: undefined,
      },
      computed: {
        connectedNW() {
          return this.activeConnections.includes("nw");
        },
        connectedNE() {
          return this.activeConnections.includes("ne");
        },
        connectedW() {
          return this.activeConnections.includes("w");
        },
        connectedE() {
          return this.activeConnections.includes("e");
        },
        connectedSW() {
          return this.activeConnections.includes("sw");
        },
        connectedSE() {
          return this.activeConnections.includes("se");
        },

      },
      methods: {
        connect(id, dirFrom) {
          console.log("connecting...")
          console.log("connecting to ", id, " from ", dirFrom);
          this.$refs.tc.connect(id, dirFrom);
        },
        onTileId(id) {
          this.tileId = id;
        },
        onConnection(dir) {
          console.log("got connection from TileConnections");
          this.activeConnections.push(dir)
        },
        handleMessage(data) {
          this.lastMessage = `msg from ${data.from}: ${data.message}`;
        },
        send(dirTo, message) {
          this.$refs.tc.send(dirTo, message);
        },

      },
      created() {
        console.log("init");

      }

    });

  </script>
</body>

</html>